<br />
<h3 class="text-center">Welcome to New Year's Re{al}solutions!</h3>
<h5 class="subheader", text-align="center">We created this site because we were tired of New Year's resolutions, and we decided to change them.</h5><br /><br /><br />


<p class="text-center">While regular resolutions are often large, vague goals that are difficult to stick to and hard to measure the success of, a re{al}solution is <i>different</i>. It's made up of one-time tasks or potential new habits that are personalized for you by our Traitify assessment, and designed specifically to be things that someone like you finds fun and worthwhile. No guilt, no sense of obligation.</p>

<p class="text-center">Interested? Take our quick, informative quiz for your personalized results. We promise you will love our suggestions, and you can let us know what you think!</p><br /><br />

<p class="text-center"><%= link_to '<button class="button expand">Take the Quiz!</button>'.html_safe,
assessments_path %></p>
