<h1>Welcome to New Year's Re(al)solutions!</h1>

<h2>We think that New Year's Resolutions are flawed.</h2>

<p>The process goes like this:
  <ul>
    <li>Commit to a vague, large goal</li>
    <li>Will yourself to work hard on it</li>
    <li>Lose motivation</li>
    <li>Feel guilty</li>
    <li>Repeat annually</li>
  </ul>
</p>

<p>A re(al)solution is <i>different</i>. It's made up of one-time tasks or potential new habits that are personalized for you by our Traitify assessment, and designed specifically to be things that someone like you finds fun and worthwhile.</p>

<p>Interested? Take our quick, informative quiz for your personalized results. We promise you will love our suggestions, and you can let us know what you think!</p>

<%= link_to '<button type="button">Take the Quiz!</button>'.html_safe,
assessment_path %>
