<h3>Check it out!</h3>

<!-- This view uses current user's info to match to the personality_type table row that matches. Only that rows attributes will display dynamically here-->
<p>So, your quiz results say you are primarily a <%= personality_type.type_name %>. <%= personality_type.type_name %></p>

<p>With this personality type, we recommend the following:<br />
<%= personality_type.realsolution %></p>
