<h3>Check it out!</h3>

<p>So, your quiz results say you are primarily a <%= @user_personality_type %>. <%= @user_description %></p>

<p>With this personality type, we recommend the following:<br />
  <%= @user_realsolution %>
</p>

<%= render "devise/registrations/form" %>
